<nav class="navbar">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img src="/resources/profunctiveIcon.svg" alt="" width="30" height="30">
            Pro<span class="red-orange">func</span>tive</a>
        <form class="d-flex">
            <% if (!currentUser) { %>
                <a href="/signup" class="btn btn-primary">Sign up</a>
                <a href="/signin" class="btn btn-secondary">Sign in</a>
                <% } else { %>
                    <a href="/board" class="btn btn-primary hideonboard">Back to board</a>
                    <a href="/signout" class="btn btn-secondary">Sign out</a>
                    <% } %>
        </form>
    </div>
</nav>