<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img src="/resources/profunctive_icon.svg" alt="" width="30" height="30">
            Profunctive</a>
        <form class="d-flex">
            <a href="/signin" class="btn btn-primary">Sign up</a>
            <a href="/signup" class="btn btn-secondary">Sign in</a>
        </form>
    </div>
</nav>