<% layout('layouts/boilerplate.ejs')%>
    <section class="container text-center">
        <h1>
            <%= statusCode %> Error
        </h1>
        <h2>
            <%= err.message %>
        </h2>
        <% if (process.env.NODE_ENV !=="production" ) { %>
            <p>
                <%= err.stack %>
            </p>
            <% } %>
    </section>