<% layout('layouts/boilerplate.ejs')%>
    <section class="container text-center">
        <h1>Welcome to Profunctive!</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi saepe labore facilis inventore, eos quis
            laudantium. Harum expedita alias vel fuga iusto laborum laboriosam maxime? Labore nostrum minus soluta
            maiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla illo atque doloribus sed ab ducimus
            autem deserunt asperiores sit, tempora necessitatibus provident fuga quo quasi iste velit aperiam. Ex,
            veritatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aut eos, aspernatur, illum
            dolorum optio suscipit a voluptatum quod enim unde quia? Autem sunt earum corporis ipsam totam, officia vel!
        </p>
        <p>"Failing to plan is planning to fail"</p>
    </section>