<% layout('layouts/boilerplate.ejs')%>
    <section class="container text-center border">
        <h1 class="border-bottom">Welcome to Profunctive!</h1>
        <p>Create notes for scheduling, grocery lists, or ideas on a Profunctive board. Try it
            out by going to the <a href="/demo" class="link">demo page</a> or <a href="/signup" class="link">signing
                up</a>!</p>
        <p>"Failing to plan is planning to fail"</p>
    </section>
    <section class="container text-center border">
        <h2 class="border-bottom">Basics of Profunctive</h2>
        <div>
            <p class="tutorial">To create a new note select the add note button.</p>
            <img src="/resources/addNote.png" alt="">
        </div>
        <div>
            <p class="tutorial">You can add titles to notes by selecting the top line. You can delete notes
                by clicking the "x" next to the note title.</p>
            <img src="/resources/noteTitle.png" alt="">
        </div>
        <div>
            <p class="tutorial">Notes contain snippets where you can keep individual thoughts. Click to add text to
                them. You can delete snippets by clicking the "x" next to them
            </p>
            <img src="/resources/snippetText.png" alt="">
        </div>
        <div>
            <p class="tutorial">To add more snippets to a note select the plus button below the snippets.</p>
            <img src="/resources/snippetAdd.png" alt="">
        </div>
    </section>