<% layout('layouts/boilerplate.ejs')%>
    <section class="container justify-content-center">
        <h1>Welcome to Profunctive!</h1>
        <p></p>
        <p>"Failing to plan is planning to fail"</p>
    </section>