<% layout('layouts/boilerplate.ejs')%>
    <section class="container w-50">
        <div class="card">
            <div class="card-header">
                Sign in
            </div>
            <div class="card-body">
                <form action="/signin" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" autofocus required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter your username.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <dov class="invalid-feedback">
                            Please enter your password.
                        </dov>
                    </div>
                    <button class="btn btn-success btn-block">Login</button>
                </form>
            </div>
        </div>
    </section>