<% layout('layouts/boilerplate.ejs')%>
    <section>
        <div>
            <input type="text">
        </div>
        <div class="board">
            <div class="border">
                <button class="btn btn-danger">X</button>
            </div>
        </div>
        <div>
            <button class="btn btn-danger">Delete All</button>
        </div>
    </section>