<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profunctive</title>
    <link rel="stylesheet" href="/stylesheets/bootstrapCSS/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/navbarStyling.css">
    <link rel="stylesheet" href="/stylesheets/boardStyling.css">
    <link rel="stylesheet" href="/stylesheets/footerStyling.css">
    <link rel="icon" href="/resources/profunctiveIcon.svg">
</head>

<body>
    <%- include('./partials/navbar')%>
        <main>
            <%- include("./partials/flash") %>
                <div class="boardname">
                    <input type="text" class="boardnameinput" placeholder="Untitled board">
                </div>
                <div class="board">
                    <div class="note">
                        <button class="deletenote">&times;</button>
                        <div class="snippet">
                            <input type="text" class="snippetinput">
                            <button class="deletesnippet">&times;</button>
                        </div>
                        <button class="addsnippet">+</button>
                    </div>
                </div>
                <div class="trashrow">
                    <button class="trashbutton"><img src="/resources/trashCan.svg" alt="" width="30"
                            height="30"></button>
                </div>
        </main>

        <script src="/javascripts/bootstrapJS/bootstrap.bundle.min.js"></script>
</body>

<%- include('./partials/footer')%>

</html>