.boardname {
    border-top: solid lightgray;
    border-bottom: solid lightgray;
}

.boardnameinput, .boardnameinput:focus {
    border: none;
    width: 100%;
}

.board {
    border-bottom: solid lightgray;
    height: 120vh;
    width: 100%;
}

.trashbutton {
    height: 100px;
    width: 100px;
    border-right: solid lightgray;
    border-left: solid lightgray;
    border-bottom: none;
    border-top: none;
}

.note {
    border: solid lightgray;
    border-radius: 12px;
    height: 225px;
    width: 205px;
    margin: 25px;
}

.deletenote {
    border: none;
    background-color: white;
    color: gray;
}

.snippetinput {
    width: 150px;
}
