.boardname {
    border-top: solid lightgray;
    border-bottom: solid lightgray;
}

.boardnameinput:hover {
    color: #98c1d9;
}

.boardnameinput, .boardnameinput:focus {
    border: none;
    width: 100%;
    outline: none;
}

.board {
    border-bottom: solid lightgray;
    min-height: 120vh;
    width: 100%;
}

.trashbutton {
    height: 100px;
    width: 100px;
    border-right: solid lightgray;
    border-left: solid lightgray;
    border-bottom: none;
    border-top: none;
}

.trashbutton:hover {
    background-color: darkgrey;
}

.note {
    border: solid lightgray;
    border-radius: 12px;
    min-height: 225px;
    width: 205px;
    margin: 25px;
}

.addnote {
    background-color: white;
    color: lightgray;
    border: solid lightgray;
    border-radius: 12px;
    min-height: 225px;
    width: 205px;
    margin: 25px;
    font-size: 5em;
    font-weight: 100;
}

.addnote:hover {
    color: gray;
    border-color: gray;
}

.closenote {
    position: relative;
    left: 178px;
}

.notetop {
    position: relative;
    border-bottom: solid lightgray;
    width: 204px;
}

.transparentbutton {
    border: none;
    background-color: transparent;
    color: gray;
}

.transparentbutton:hover {
    color: #f95738;
}

.snippet {
    margin-top: 5px;
    margin-left: 23px;
}

.addnewsnippet {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.snippetinput {
    width: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:solid gray;
}

.snippetinput:hover {
    border-bottom: solid #98c1d9;
}

.snippetinput:focus {
    border: solid #98c1d9;
    border-radius: 2px;
    outline: none;
}
