.container {
    color: #091e42;
}

img {
    width: 30%;
    display: inline-block;
}

.tutorial {
    width: 50%;
    display: inline-block;
}

.container.border {
    border-radius: 0.8rem;
    margin-bottom: 3.2rem;
}